<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_review.css') }}">
    <title>Modifica Recensione</title>
</head>
<body>
    <h1>Modifica Recensione</h1>
    <form method="POST">
        <label for="car_id">Auto:</label>
        <select name="car_id" required>
            {% for car in cars %}
                <option value="{{ car['_id'] }}" {% if car['_id'] == review['car_id'] %}selected{% endif %}>
                    {{ car['_id'] }} - {{ car['Make'] }} {{ car['Model'] }}
                </option>
            {% endfor %}
        </select><br><br>

        <label for="author">Autore:</label>
        <input type="text" name="author" value="{{ review['Author_Name'] }}" required><br><br>

        <label for="rating">Voto (0-5):</label>
        <input type="number" name="rating" min="0" max="5" step="0.1" value="{{ review['Rating'] }}" required><br><br>

        <label for="title_review">Titolo:</label><br>
        <textarea name="title_review" rows="1" required></textarea><br><br>

        <label for="text">Recensione:</label><br>
        <textarea name="text" rows="5" cols="50" required>{{ review['Review'] }}</textarea><br><br>

        <button type="submit">Salva Modifiche</button>
    </form>
    <br>
    <a href="/">Torna alla home</a>
</body>
</html>
