<!DOCTYPE html>
<html>
<head>
    <title>Lista Recensioni</title>
</head>
<body>
    <h1>Recensioni</h1>
    <a href="/">Torna alla Home</a>
    <ul>
        {% for review in reviews %}
        <li>
            <strong>Auto ID: {{ review['car_id'] }}</strong><br>
            <strong>Utente: {{ review['Author_Name'] }}</strong><br>
            <strong>Voto: {{ review['Rating'] }}</strong><br>
            <strong>Recensione: {{review['Review_Title']}}</strong><br>
            {{ review['Review'] }}
        </li>
        <br>
        {% endfor %}
    </ul>
</body>
</html>
